{% extends 'base.html.twig' %}

{% block body %}

	<div class="parallaxwrapper">
		<div class="background parallax" data-modifier="200"></div>
	</div>

	{# particles background #}

	<div class="particlesbackgroundcontainer parallaxwrapper">
		<canvas class="particlesbackground parallax" data-modifier="150"></canvas>
	</div>

  <div class="particlesbackgroundcontainer parallaxwrapper">
		<canvas class="particlesbackground parallax" data-modifier="80"></canvas>
	</div>

	{{ include("partials/topbar.html.twig") }}

	{# content #}

	<main>

		{{ include("partials/blocks/apropos.html.twig") }}
		{{ include("partials/blocks/competences.html.twig") }}
		{{ include("partials/blocks/parcours.html.twig") }}
		{{ include("partials/blocks/qualites.html.twig") }}
		{{ include("partials/blocks/centresdinteret.html.twig") }}
		{{ include("partials/blocks/contactezmoi.html.twig") }}

	</main>

	{# endcontent #}

	{{ include("partials/footer.html.twig") }}

{% endblock %}
