{% extends 'base.html.twig' %}

{% block body %}
<div style="height: 100vh" class="d-flex justify-content-center align-items-center">
  <div class="w-25 text-center">
    <form class="login-form" method="post">
      {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
      <div class="mb-3">
        {{ app.user.username }} <a href="{{ path('app_logout') }}">Déconnexion</a>
      </div>
      {% endif %}

      <h1 class="h3 mb-5 font-weight-normal">Es-tu moi ?</h1>
      <label for="inputEmail">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
      <label for="inputPassword">Mot de passe</label>
      <input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      <button class="btn btn-lg btn-secondary mt-3" type="submit">
        Go !!!
      </button>
    </form>
  </div>
</div>
{% endblock %}