{% block header %}
<footer class="container-fluid text-center" id="footer">
  <p class="mb-0">
    {{viewsCount}} personnes différentes sont venues jeter un oeil
    <br>
    <small>Développé avec <i class="fas fa-heart redheart"></i> sur Symfony 5</small>
  </p>
</footer>
{% endblock %}