{% block header %}

<header>
  <div class="position-fixed w-100 header">

    <div class="d-flex w-100 justify-content-between backdropblur" id="topbar">

      <div class="d-flex mx-3">
        <img class="h-100" src="build/static/portrait.png" alt="Portrait d'Adrien Masanet" />
        <div class="text-center text-uppercase align-self-center">
          <p class="m-0">Adrien MASANET</p>
          <p class="m-0 small">- Développeur junior -</p>
        </div>
      </div>

      <nav>
        <ul class="d-flex my-0 float-right" id="navbar">
          <li>
            <a class="text-uppercase" href="#a-propos">À propos
              <i class="fas fa-question-circle"></i>
            </a>
          </li>
          <li>
            <a class="text-uppercase" href="#competences">Compétences
              <i class="fas fa-brain"></i>
            </a>
          </li>
          <li>
            <a class="text-uppercase" href="#parcours">Parcours
              <i class="fas fa-suitcase"></i>
            </a>
          </li>
          <li>
            <a class="text-uppercase" href="#qualites">Qualités
              <i class="fas fa-address-card"></i>
            </a>
          </li>
          <li>
            <a class="text-uppercase" href="#centres-d-interet">Centres d'intérêt
              <i class="fas fa-heart"></i>
            </a>
          </li>
          <li>
            <a class="text-uppercase" href="#contactez-moi">Contactez-moi
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>

{% endblock %}