{% block apropos %}
<section class="container blockcontainer" id="a-propos">
  <h1 class="text-center customcontainer1 customtitle p-2 mx-auto">À propos</h1>
  <div class="container d-flex flex-wrap p-0 justify-content-center">
    <img class="portrait" src="build/static/portrait.png" alt="Portrait d'Adrien Masanet" />
    <div class="customcontainer2 backdropblur p-2">
      <p class="m-0 p-2">
        {{ aboutText | raw }}
      </p>
    </div>
  </div>
</section>
{% endblock %}