{% block centresdinteret %}
<section class="container blockcontainer" id="centres-d-interet">
  <h1 class="text-center customcontainer1 customtitle p-2 mx-auto">Centres d'intérêt</h1>
  <div class="customcontainer2 backdropblur p-2 d-flex justify-content-around align-items-center">
    {% for hobby in hobbies %}
    <div class="hobbycontainer">
      <h5 class="p-2 m-0">
        {{hobby.getHobbyName}}
      </h5>
      <div>
        <img src="build/static/hobbies/{{hobby.getHobbyImage}}" alt="hobby" />
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}