{% block competences %}
<section class="container blockcontainer" id="competences">
	<h1 class="text-center customcontainer1 customtitle p-2 mx-auto">Compétences</h1>
	<div class="skillsglobalcontainer customcontainer2 backdropblur p-2 d-flex justify-content-around">
		{% for domain in domains %}
			<div class="domaincontainer customcontainer2 p-2 m-2 text-center">
				<h5>{{domain.getDomainName}}</h5>
				<div class="skillscontainer d-flex flex-wrap justify-content-around">
					{% for skill in domain.getDomainSkills %}
						<div class="skillimagecontainer skill"
            skillname="{{skill.getSkillName}}"
            skillimage="{{skill.getSkillImage}}"
            skilldetail="{{skill.getSkillDetail}}"
            skillurl="{{skill.getSkillUrl}}">
							<img src="build/static/skills/{{skill.getSkillImage}}" alt="Compétence" />
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
