{% block contactezmoi %}
<section class="container blockcontainer" id="contactez-moi">
  <h1 class="text-center customcontainer1 customtitle p-2 mx-auto">Contactez-moi</h1>
  <div class="customcontainer2 backdropblur p-2">
    <p class="m-0 p-2 text-center">
      Mon profil vous intéresse, vous aimeriez en savoir d'avantage sur mes motivations, mes compétences et mes caractéristiques ?
      <br>
      <strong>N'hésitez plus et prenons contact par l'intermédiaire du formulaire ci-dessous !</strong>
    </p>

    {{ form(contactForm) }}

  </div>
</section>
{% endblock %}