{% block parcours %}
<section class="container blockcontainer" id="parcours">
  <h1 class="text-center customcontainer1 customtitle p-2 mx-auto">Parcours</h1>
  <div class="customcontainer2 backdropblur p-2 d-flex justify-content-around align-items-center flex-column-reverse">
    {% for experience in experiences %}
    <div class="experiencecontainer">

      <div class="experiencecircle"></div>
      <div class="d-flex experienceinfoscontainer">
        <div class="align-self-center text-center experiencedateandname">
          <h4 class="p-2 pb-0 m-0">
            {{experience.getExperienceDate}}
          </h4>
          <h6 class="p-2 pt-0 m-0">
            {{experience.getExperienceName}}
          </h6>
        </div>
        <div class="experiencedetail customcontainer2 ">
          <p class="m-0 p-3">{{experience.getExperienceDetail}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}