{% block qualites %}
<section class="container blockcontainer" id="qualites">
  <h1 class="text-center customcontainer1 customtitle p-2 mx-auto">Qualités</h1>
  <div class="customcontainer2 backdropblur p-2 d-flex justify-content-around align-items-center">
    {% for quality in qualities %}
    {% if quality.getId != 1 %}
    <i class="fas fa-square small"></i>
    {% endif %}
    <h5 class="p-2 m-0">
      {{quality.getQualityName}}
    </h5>
    {% endfor %}
  </div>
</section>
{% endblock %}