@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&display=swap");

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"), url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$themeColor1: #f4f1f2;
$themeColor2: #463f88;
$themeColor3: #9ba1c6;
$themeColor4: #2b2741;
$themeColor5: rgba($themeColor1, 0.7);
$themeColor6: #3c4447;
$font1: "GT Walsheim Pro";
$font2: "Bebas Neue", cursive;
$topBarHeight: 4em;
$gapBetweenMenuItems: 1em;
$footerHeight: 4em;
$smallShadow: 0 0 6px rgba(0, 0, 0, 0.3);
$miniShadow: 0 0 4px rgba(0, 0, 0, 0.15);
$largeShadow: 2px 3px 13px rgba(0, 0, 0, 0.025);

body {
  background-color: $themeColor6;
  font-family: $font1;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font2;
  }

  a {
    text-decoration: none;
  }
}

#navbar {
  height: 100%;

  li {
    text-align: center;
    list-style: none;
    margin: auto 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  a {
    color: $themeColor2;
    margin: 0 0 0 $gapBetweenMenuItems;
    padding: 0 $gapBetweenMenuItems/2;
    line-height: $topBarHeight;
    font-family: $font2;
    font-size: 1.1em;
    height: 100%;

    &:last-child {
      margin: 0 $gapBetweenMenuItems 0 0 !important;
    }

    &:hover {
      cursor: pointer;
      color: $themeColor1;
      background: $themeColor2;
    }
  }
}

.header {
  z-index: 10;
}

#topbar {
  color: $themeColor2;
  border-bottom: 1px solid $themeColor3;
  height: $topBarHeight;
  background: $themeColor5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.backdropblur {
  backdrop-filter: blur(5px);
}

.customcontainer1 {
  background: $themeColor2;
  border-radius: 4px;
  color: $themeColor1;
}

.customcontainer2 {
  border: 1px solid $themeColor5;
  border-radius: 2px;
  box-shadow: $largeShadow;
  background: $themeColor5;

  svg {
    color: $themeColor2;
  }
}

.login-form {
  color: $themeColor1;
}

.blockcontainer {
  padding-top: 6em;
}

.customtitle {
  margin-bottom: 1em;
  width: max-content;
}

.button {
  padding: 1em;
  color: $themeColor2;
  background: rgba($themeColor1, 0.8);
  border: solid 2px $themeColor2;
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
  font-weight: bold;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: $themeColor1;
    background: rgba($themeColor2, 0.8);
    border: solid 2px $themeColor1;
    transform: scale(1.1);
    box-shadow: 2px 3px 7px #00000015;
  }
}

.portrait {
  filter: drop-shadow(2px 3px 20px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.domaincontainer {
  flex: 1;
  transition: border 0.25s ease-in-out;

  .skillscontainer {
    text-align-last: left;

    .skillimagecontainer {
      width: 47%;
      padding: 0.2em;

      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        img {
          transform: scale(1.1) rotateY(360deg);
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
        }
      }
    }
  }

  &:hover {
    border-color: rgba($themeColor2, 0.1);

    h5 {
      border-bottom: rgba($themeColor2, 0.1);
    }
  }
}

.skilldetail {
  top: -1px;
  left: -1px;
  background: invert(rgba($themeColor1, 0.7));
  color: $themeColor1;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  animation: fadeinAnim 0.15s ease;

  .skilldetailnameanddetailcontainer {
    margin: 1em;
    width: 100%;
    height: 60%;

    .skilldetailname {
      text-align: center;
      padding: 0 1em;
      text-shadow: 1px 1px 4px #00000085;
    }

    .skilldetailimageanddetail {
      display: flex;
      width: 90%;
      margin: auto;

      .skilldetailimagewrapper {
        width: 10%;
        filter: drop-shadow(1px 1px 4px #ffffff85) drop-shadow(0px 0px 20px #ffffff);
        align-self: center;
      }

      .skilldetaildetail {
        width: 100%;
        text-align: justify;
        margin: 0;
        padding: 0 2em;
        text-shadow: 1px 1px 4px #00000085;
      }
    }
  }

  .skilldetailclose {
    width: 6em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
  }
}

.hobbycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }

  h5 {
    flex: 100%;
  }
}

.experiencecontainer {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  align-self: start;
  padding: 2em 2em;
  width: 100%;
  border-radius: 5px;

  h4,
  h6 {
    flex: 100%;
  }

  .experienceinfoscontainer {
    margin-left: 5%;
    width: 100%;

    .experiencedateandname {
      width: 20%;
      background: none;
      transition: all 0.25s ease-in-out;
      height: 7em;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    .experiencedetail {
      width: 100%;
      display: flex;
      align-items: center;
      transition: border 0.25s ease-in-out;
      height: 7em;
    }
  }

  .experiencecircle {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    border: solid 1px $themeColor2;
    background: rgba($themeColor1, 0.4);
    box-shadow: 0 0 1px 0px $themeColor2 inset, 0 0 1px 0px $themeColor2, $smallShadow;
    z-index: 1;
    transition: background 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      bottom: 2.4em;
      left: 45%;
      height: 8.5em;
      width: 5px;
      background: $themeColor2;
      z-index: -1;
      box-shadow: $miniShadow;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      width: 1em;
      height: 1em;
      top: 0.7em;
      left: 0.7em;
      border-radius: 100%;
      border: dotted 2px $themeColor2;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 1px 0px $themeColor2 inset, 0 0 1px 0px $themeColor2, $miniShadow;
      z-index: 5;
      animation-name: rotateAnim;
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &:last-child .experiencecircle::before {
    content: "";
    position: relative;
    display: block;
    width: 3em;
    height: 3em;
    top: -0.3em;
    left: -0.3em;
    border-radius: 100%;
    border: dashed 2px $themeColor2;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1px 0px $themeColor2 inset, 0 0 1px 0px $themeColor2, $miniShadow;
    z-index: 5;
    animation-name: rotateAnim;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &:last-child .experiencecircle::after {
    display: none;
  }

  &:hover {
    cursor: default;

    .experiencecircle {
      background: rgba($themeColor1, 0.7);
    }

    .experiencecircle::after {
      opacity: 1;
    }

    .experienceinfoscontainer {
      .experiencedateandname {
        color: $themeColor1;
        background: rgba($themeColor2, 0.8);
      }

      .experiencedetail {
        border-color: rgba($themeColor2, 0.1);
        font-weight: bold;
      }
    }
  }
}

.background {
  background-image: url("../images/background.jpg");
}

.particlesbackgroundcontainer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}

.particlesbackground {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.parallaxwrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  .parallax {
    position: absolute;
    width: 100%;
    transform: translateY(var(--translateY));
    will-change: transform;
  }
}

#footer {
  margin-top: 5em;
  min-height: $footerHeight;
  background: $themeColor4;
  color: $themeColor1;
  padding: 1.5em;

  p {
    line-height: 2.5em;
  }
}

form {
  div {
    padding: 1em 4em;

    * {
      width: 100%;
    }

    div:last-of-type {
      text-align: center;
    }

    input,
    textarea {
      border: 1px solid $themeColor5;
      border-radius: 2px;
      box-shadow: 2px 3px 6px #00000026;
      background: $themeColor5;
      resize: none;

      &:focus-visible {
        outline-color: $themeColor2;
        outline-style: solid;
        box-shadow: 2px 4px 0.5em #00000047;
      }
    }
  }
}

.redheart {
  color: rgb(209, 38, 38) !important;
}

@keyframes rotateAnim {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeinAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
