<!DOCTYPE html>
<!-- En vous la souhaitant bien bonne -->
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Adrien Masanet{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Curriculum vitae en ligne d'Adrien Masanet, développeur junior">

  {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}

</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>